<!DOCTYPE html>
<html lang="en">
  <head>
    <%= include_partial "head" %>
  </head>
  <body>
    <%= include_partial "header" %>
    <div class="grid">

      <!-- edit form -->
      <form action="/save" method="post">
        <div class="grid gutter" style="margin: 16px;">
          <div class="row">
            <div class="col" style="flex: 0 0 5rem;">
              Type
            </div>
            <div class="col">
              <input type="text" name="title" class="form-control" value="<%= @data[:content]["content_type"] %>">
            </div>
          </div>
          <div class="row mb-2">
            <div class="col" style="flex: 0 0 5rem;">
              Title
            </div>
            <div class="col">
              <input type="text" name="title" class="form-control" value="<%= @data[:content]["title"] %>">
            </div>
          </div>
          <div class="row mb-2">
            <div class="col" style="flex: 0 0 5rem;">
              Author
            </div>
            <div class="col">
              <input type="text" name="author" class="form-control" value="<%= @data[:content]["author"] %>">
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <textarea id="content-field" class="form-control" rows="1" style="overflow-y: hidden;"><%= @data[:content]["content"] %></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div style="text-align: center;">
                <button >Save</button>
                <!-- TODO: this assumes content is a page, for now... -->
                <a  href="/<%= @data[:content]['id'] %>">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="alert warning">
      Will return to <code><%= @data[:return_path] %></code> after Saving or Canceling.
      </div>

    </div>
    <%= include_partial "footer" %>
    <script>
      function autoheightTextarea(id) {
        const element = document.getElementById(id);
        element.style.height = 'auto';
        let lastHeight = element.style.height;
        let lastScrollHeight = element.scrollHeight;
        console.log('INITIAL', lastHeight, lastScrollHeight);
        function updateTextareaHeight() {
          console.log('before', element.style.height, element.scrollHeight);

          element.style.height = `${element.scrollHeight}px`;
          console.log('after', element.style.height, element.scrollHeight);
        }
        updateTextareaHeight();
        element.addEventListener('keydown', () => {
          updateTextareaHeight();
        });
      }

      autoheightTextarea('content-field');
    </script>
  </body>
</html>