<!DOCTYPE html>
<html lang="en">
  <head>
    <%= include_partial "head" %>
  </head>
  <body class="http-only-site">
    <%= include_partial "header" %>
    <div class="body">
      <table class="layout-table" cellspacing="0">
        <tr>
          <td class="menu-area">
            <%= include_partial "menu-list" %>
          </td>
          <td class="content-area">

            <% if @context[:data]['articles'].length == 0 %>
            <div  class="alert warning">
              <p>No news isn't good news</p>
              <p>But, seriously, there are no news items on the site yet.</p>
            </div>
            <% end %>

            <% if @context[:data]['articles'].length > 0 %>
            <div class="article">
              <div class="article-title"><%= @context[:data]['article']['title'] %></div>
              <div class="article-created"><%= Time.at(@context[:data]['article']['created']).strftime('%Y-%m-%d at %H:%M') %></div>
              <div class="article-body">
                <%= format_markdown @context[:data]['article']['content'] %>
              </div>
            </div>
            <% end %>

          </td>
          <td class="side-bar">
             <%= include_partial "side-bar-navigation" %>

            <% if can_edit? %>
            <div class="section">
                <div class="side-bar-menu-list">
                    <div class="item">
                    <a href="/edit/<%= @context[:data]['article']['id'] %>?return_path=<%= @context[:request][:path] %>">
                        Edit this <%= @context[:data]['content_type']['noun'] %>
                    </a>
                    </div>
                    <div class="item">
                    <a 
                        href="/delete/<%= @context[:data]['article']['id'] %>?return_path_success=/<%= @context[:data]['content_type']['id'] %>s&return_path_cancel=<%= @context[:request][:path] %>">
                        Delete this <%= @context[:data]['content_type']['noun'] %>
                    </a>
                    </div>
                </div>
            </div>
            <% end %>

            <div class="section">
              <div class="title">More Articles</div>
              <div class="body">
                <ul class="side-bar-article-list">
                  <% @context[:data]['articles'].each do |article| %>
                      <li>
                        <div class="article-title">
                          <a class="nav-link" href="/news/<%= article['id'] %>"><%= article['title'] %></a>
                        </div>
                      
                        <div class="article-created">
                          <%= Time.at(article['created']).strftime('%Y-%m-%d') %>
                        </div>

                        <div class="article-abstract">
                          <%= article['abstract'] %>
                        </div>
                      </li>
                    <% end %>
                </ul>
              </div>
            </div>
          </td>
        </tr>
      </table>
      
    </div>
    <%= include_partial "footer" %>
  </body>
</html>