<div class="header">
  <table>
    <tr>
      <td style="width: 50%; vertical-align: middle;">
        <span style="font-weight: bold; color: gray;">HTTP only</span> | <b><%= @context[:page]["title"] %></b>
      </td>
      <td style="width: 100%; text-align: right;">
        <% if @context[:is_secure] %>
          <% if @context[:session].nil? %>
            <a  href="http://<%= @context[:host] %><%= @context[:path] %>">
              non-secure site
            </a>
            <a href="/signin?return-path=<%= @context[:path] %>">
              sign in
            </a>
          <% else %>
            <form action="/authenticate" method="post">
              <input type="hidden" name="_method" value="delete">
              <input type="hidden" name="return-path" value="<%= @context[:path] %>"> <button class="btn btn-text" type="submit">
                <input type="text" value="" name="dummy" style="display: none;">
                sign out <b><%= @context[:session]["user_id"] %></b>
              </button>
            </form>
          <% end %>
        <% else %>
          <a  href="https://<%= @context[:host] %><%= @context[:path] %>">
            secure site
          </a>
        <% end %>
      </td>
    </tr>
  </table>
</div>