<div class="section">
    <div class="side-bar-menu-list">
        <div class="item">
            <a href="/edit/<%= @content_item[:entry]['id'] %>?return_path_success=<%= @context[:request][:path] %>&return_path_cancel=<%= @context[:request][:path] %>">
                Edit this <%= @content_item[:content_type]['noun'] %>
            </a>
        </div>
        <div class="item">
            <a href="/delete/<%= @content_item[:entry]['id'] %>?return_path_success=/<%= @context[:request][:endpoint_name] %>&return_path_cancel=<%= @context[:request][:path] %>">
                Delete this <%= @content_item[:content_type]['noun'] %>
            </a>
        </div>
        <div class="item">
            <a href="/add/<%= @content_item[:content_type]['id'] %>?return_path_success=/<%= @context[:request][:endpoint_name] %>&return_path_cancel=<%= @context[:request][:path] %>">
                Add a <%= @content_item[:content_type]['noun'] %>
            </a>
        </div>
    </div>
</div>
