<div class="footer">
  <table class="layout-table" cellspacing="0" cellpadding="0">
    <tr>
      <td class="copyright-column">
        <small>Copyright © 2024 Adaptations</small>
      </td>
      <td class="nav-column">
        <% if false %>
          <a href="/edit/<%= @context[:page]['id'] %>" >
            edit this <%= @context[:content_type]['noun'] %>
          </a>
        <% end %>
        <a href="/page/contact">contact</a>
        <a href="/page/accessibility">accessibility</a>

        <% if @context[:is_secure] %>
          <% if @context[:session].nil? %>
            <a  href="http://<%= @context[:host] %><%= @context[:path] %>">
              non-secure site
            </a>
            <a href="/signin?return-path=<%= @context[:path] %>">
              sign in
            </a>
          <% else %>
            <form action="/authenticate" class="authenticate-form" method="post">
              <input type="hidden" name="_method" value="delete">
              <input type="hidden" name="return-path" value="<%= @context[:path] %>"> 
              <button type="submit">
                sign out <b><%= @context[:session]["user_id"] %></b>
              </button>
            </form>
          <% end %>
        <% else %>
          <a  href="https://<%= @context[:host] %><%= @context[:path] %>">
            secure site
          </a>
        <% end %>
      </td>
    </tr>
  </table>
</div>