
 <% if can_edit? %>
 <div class="section">
    <ul class="side-bar-menu-list">
        <li>
        <a href="/edit/<%= @context[:content]['id'] %>?return_path=<%= @context[:path] %>">
            Edit this <%= @context[:content_type]['noun'] %>
        </a>
        </li>
        <li>
        <a 
            href="/delete/<%= @context[:content]['id'] %>?return_path_success=/home/<%= @context[:content_type]['id'] %>s&return_path_cancel=<%= @context[:path] %>">
            Delete this <%= @context[:content_type]['noun'] %>
        </a>
        </li>
    </ul>
</div>
<% end %>