
 <% if can_edit? %>
 <div class="section">
    <div class="side-bar-menu-list">
        <div class="item">
        <a href="/edit/<%= @context[:content]['id'] %>?return_path_success=<%= @context[:path] %>&return_path_cancel=<%= @context[:path] %>">
            Edit this <%= @context[:content_type]['noun'] %>
        </a>
        </div>
        <div class="item">
        <a 
            href="/delete/<%= @context[:content]['id'] %>?return_path_success=/home/<%= @context[:content_type]['id'] %>s&return_path_cancel=<%= @context[:path] %>">
            Delete this <%= @context[:content_type]['noun'] %>
        </a>
        </div>
    </div>
</div>
<% end %>