<!DOCTYPE html>
<html lang="en">
  <head>
    <%= include_partial "head" %>
  </head>
  <body class="http-only-site">
    <%= include_partial "header" %>

    <div class="body">
      <table  class="layout-table"  cellspacing="0" cellpadding="0">
        <tr>
          <td class="menu-area">
            <%= include_partial "menu-list" %>
          </td>
          <td class="content-area">

            <% if @content_item[:entry].nil? %>
            <div  class="alert warning">
              <p>No blog isn't a good blog</p>
              <p>But, seriously, there is nothing for the blog yet.</p>
            </div>
            <% else %>
            <div class="blog">
              <div class="blog-title"><%= @content_item[:entry]['title'] %></div>
              <div class="blog-created"><%= Time.at(@content_item[:entry]['created']).strftime('%Y-%m-%d at %H:%M') %></div>
              <div class="blog-abstract"><%= @content_item[:entry]['abstract'] %></div>
              <div class="blog-content">
                <%= format_markdown @content_item[:entry]['content'] %>
              </div>
            </div>
            <% end %>

          </td>
          <td class="side-bar">
            <%= include_partial "side-bar-navigation" %>

            <% if can_edit? %>
            <%= include_partial "edit-navigation" %>
            <% end %>
            
            <div class="section">
              <div class="title">
                More Blog
              </div>
              <div class="body">
                <% if @content_item[:entries].length == 0 %>
                <div  class="alert warning">
                  <p>No more blog entries.</p>
                  <p>You're looking at the only one.</p>
                </div>
                <% end %>
                 <% if @content_item[:entries].length > 0 %>
                <ul class="side-bar-blog-list">
                  <% @content_item[:entries].each do |blog_item| %>
                      <li>
                        <div class="blog-title">
                          <a class="nav-link" href="/blog/<%= blog_item['id'] %>"><%= blog_item['title'] %></a>
                        </div>
                      
                        <div class="blog-created">
                          <%= Time.at(blog_item['created']).strftime('%Y-%m-%d') %>
                        </div>

                        <div class="blog-abstract">
                          <%= blog_item['abstract'] %>
                        </div>
                      </li>
                    <% end %>
                </ul>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <%= include_partial "footer" %>
  </body>
</html>