<!DOCTYPE html>
<html lang="en">
  <head>
    <%= include_partial "head" %>
  </head>
  <body class="http-only-site">
    <%= include_partial "header" %>


    <div class="body">
      <table  class="layout-table" cellspacing="0">
        <tr>
          <td class="home-menu-area">
            <%= include_partial "menu-list" %>
          </td>
          <td class="content-area">

            <% if data[:entries].length == 0 %>
            <div  class="alert warning">
              <p>No blog isn't good blog</p>
              <p>But, seriously, there is nothing for the blog yet.</p>
            </div>
            <% end %>

            <% if data[:entries].length > 0 %>
            <div class="blog">

              <div class="blog-title"><%= data[:entry]['title'] %></div>

              <div class="blog-created"><%= Time.at(data[:entry]['created']).strftime('%Y-%m-%d at %H:%M') %></div>

              <div class="blog-content">
                <%= format_markdown data[:entry]['content'] %>
              </div>

            </div>

            <% end %>

          </td>
          <td class="side-bar">
            <%= include_partial "side-bar-navigation" %>

             <% if can_edit? %>
            <div class="section">
                <div class="side-bar-menu-list">
                    <div class="item">
                      <a href="/edit/<%= data[:entry]['id'] %>?return_path=<%= @context[:path] %>">
                          Edit this <%= data[:content_type]['noun'] %>
                      </a>
                      </div>
                      <div class="item">
                      <a 
                          href="/delete/<%= data[:entry]['id'] %>?return_path_success=/home/<%= @context[:content_type]['id'] %>s&return_path_cancel=<%= @context[:path] %>">
                          Delete this <%= data[:content_type]['noun'] %>
                      </a>
                    </div>
                </div>
            </div>
            <% end %>
            
            <div class="section">
              <div class="title">
                More Blog
              </div>
              <div class="body">
                <ul class="side-bar-blog-list">
                  <% data[:entries].each do |blog_item| %>
                      <li>
                        <div class="blog-title">
                          <a class="nav-link" href="/blog/<%= blog_item['id'] %>"><%= blog_item['title'] %></a>
                        </div>
                      
                        <div class="blog-created">
                          <%= Time.at(blog_item['created']).strftime('%Y-%m-%d') %>
                        </div>

                        <div class="blog-abstract">
                          <%= blog_item['abstract'] %>
                        </div>
                      </li>
                    <% end %>
                </ul>
              </div>
            </div>
          </td>
        </tr>
      </table>
      
    </div>
    <%= include_partial "footer" %>
  </body>
</html>