<!DOCTYPE html>
<html lang="en">
  <head>
    <%= include_partial "head" %>
  </head>
  <body>
    <%= include_partial "header" %>

    <div class="body" style="padding: 16px;">
      <form action="/<%=  @context[:endpoint_name] %><% if @context[:endpoint_name] == 'edit' %>/<%= @data[:content]["id"] %><% end %>" 
            class="full-height-flex" 
            method="post">
        <input type="hidden" name="_method" value="<% if @context[:endpoint_name] == 'add' %>post<% else %>put<% end %>">
        <input type="hidden" name="return_path_success" value="<%= @data[:return_path_success] %>">
        <table class="content-edit-layout-table" >
          <tr style="margin-top: 8px">
            <td>ID</td>
            <td>
              <input type="text" 
                        name="id" 
                        style="width: 100px;"
                      <% if @context[:endpoint_name] != 'add' %> readonly <% else %><% end %>
                        value="<%= @data[:content]["id"] %>">
            </td>
            <td>Type</td>
            <td>
              <input type="text" 
                    name="content_type"  
                    style="width: 100px;  background-color: silver;"
                    tabindex="-1"
                    readonly
                    value="<%= @data[:content_type]["id"] %>">
            </td>
            <td>Created</td>
            <td>
              <input type="text" 
                    name="created"  
                    style="width: 175px; background-color: silver;"
                    tabindex="-1"
                    readonly
                    value="<%= format_timestamp @data[:content]["created"] %>">
            </td>
          </tr>
          <tr>
            <td>Title</td>
            <td>
              <input type="text" 
                    name="title" 
                    style="width: 150px;"
                    value="<%= @data[:content]["title"] %>">
            </td>
            <td>Author</td>
            <td>
              <input type="text" 
                    name="author"  
                    style="width: 150px;"
                    value="<%= @data[:content]["author"] %>">
            </td>

            <td>Last Updated</td>
            <td>
              <input type="text" 
                    name="last_updated"  
                    style="width: 175px; background-color: silver;"
                    tabindex="-1"
                    readonly
                    value="<%= format_timestamp @data[:content]["last_updated"] %>">
            </td>
          </tr>
          <tr>
            <td>Abstract</td>
            <td colspan="5">
              <input type="text" name="abstract" value="<%= @data[:content]['abstract'] %>" style="display: block; width: 90%;">
            </td>
          </tr>
          <tr>
            <td><%= @data[:content_type]['noun'] %></td>
            <td colspan="5">
              <table width="100%">
                <tr>
                  <td width="50%">
                    <textarea id="content-field" 
                              name="content" 
                              class="form-control" 
                              style="width: 100%; height: 500px;"
                              rows="20" ><%= @data[:content]["content"] %></textarea>
                  </td>
                  <td width="50%" style="vertical-align: top;">
                    <div id="mdpreview" class="markdown-preview markdown-rendered">
                        <%= format_markdown @data[:content]['content'] %>

                    </div>
                  </td>
                </table>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <button>Apply</button>
              <button>Save</button>
                <!-- TODO: this assumes content is a page, for now... -->
                <a href="<%= @data[:return_path_cancel] %>">Cancel</a>
            </td>
          </tr>
        </table>
      </form>

      <div class="alert warning margin-top">
        Will return to <code><%= @data[:return_path_success] %></code> after Saving or Canceling.
      </div>
    </div>
    <%= include_partial "footer" %>
  </body>
</html>