<!DOCTYPE html>
<html lang="en">
  <head>
    <%= include_partial "head" %>
  </head>
  <body class="http-only-site">
    <%= include_partial "header" %>
    <div class="body">
      <table class="layout-table" cellspacing="0">
        <tr>
          <td class="home-menu-area">
            <%= include_partial "menu-list" %>
          </td>

          <td class="content-area">
            <table class="layout-table">
              <tr>
                <td style="width: 50%; padding-right: 16px; vertical-align: top;">
                  <div>
                    <%= include_content %>
                  </div>
                  <div class="preview-box">
                    <div class="title">
                      Latest News
                    </div>
                    <div class="content">
                      <div class="item">
                        <% if @data[:latest_news] %>
                        <div class="title">
                          <a href="/news/<%= @data[:latest_news]['id'] %>">
                          <%= @data[:latest_news]['title'] %>
                          </a>
                        </div>
                        <div class="created"><%= render_epoch_time @data[:latest_news]['created'] %></div>
                        <div class="content"><%= render_markdown @data[:latest_news]['content'] %></div>
                        <% else %>
                          no news yet
                        <% end %>
                      </div>
                    </div>
                  </div>
                </td>
                <td style="width: 50%; padding-left: 16px; vertical-align: top;">
                  <div class="preview-box" style="margin: 16px 16px 16px 0;">
                    <div class="title">
                      Favorite Sites
                    </div>
                    <div class="content">
                      <% @data[:favorite_sites].each do |site| %>
                      <div class="item">
                        <div class="title">
                            <a href="<%= site['url'] %>" target="_blank"><%= site['title'] %></a>
                        </div>
                        <div class="content">
                            <%= site['description'] %>
                        </div>
                      </div>
                      <% end %>
                    </div>
                  </div>
                  <div class="preview-box">
                    <div class="title">
                      Latest Blog Entry
                    </div>
                    <div class="content">
                      <div class="item">
                        <div class="title">
                          <a href="/blog/<%= @data[:latest_blog_entry]['id'] %>">
                          <%= @data[:latest_blog_entry]['title'] %>
                          </a>
                        </div>
                        <div class="created"><%= render_epoch_time @data[:latest_blog_entry]['created'] %></div>
                        <div class="content"><%= render_markdown @data[:latest_blog_entry]['content'] %></div>
                      </div>
                    </div>
                  </div>
                </td>

              </tr>
            </table>
          </td>

          <td class="side-bar">
            <%= include_partial "side-bar-navigation" %>
          </td>
        </tr>
      </table>
    </div>
    <%= include_partial "footer" %>
  </body>
</html>