<!DOCTYPE html>
<html lang="en">
  <head>
    <%= include_partial "head" %>
  </head>
  <body class="http-only-site">
    <%= include_partial "header" %>
    <div class="body">
      <table class="layout-table" cellspacing="0" cellpadding="0">
        <tr>
          <td class="menu-area">
            <%= include_partial "menu-list" %>
          </td>

          <td class="content-area" style="padding-right: 16px;">
            <table class="layout-table" cellspacing="0" cellpadding="0">
              <tr>
                <td style="width: 50%; padding-right: 16px; vertical-align: top;">
                  <%= include_page_content %>
                </td>

                <td style="width: 50%; padding-left: 16px; padding-right: 16px; vertical-align: top;">

                  <div class="preview-box" style="margin: 0 0 16px 0;">
                    <div class="title">
                      Favorite <a href="/sites">Sites</a>
                    </div>
                    <div class="content">
                      <% @data[:favorite_sites].each do |site| %>
                      <div class="item">
                        <div class="title">
                            <a href="<%= site['url'] %>" target="_blank"><%= site['title'] %></a>
                        </div>
                        <div class="added">added on <%= render_epoch_time site['added'] %></div>
                        <div class="content">
                            <%= site['abstract'] %>
                        </div>
                      </div>
                      <% end %>
                    </div>
                  </div>

                   <div class="preview-box" style="margin: 16px 0;">
                    <div class="title">
                      Latest <a href="/news">News</a>
                    </div>

                    <% if @data[:latest_news].length == 0 %>
                      no news yet
                    <% else %>

                      <% @data[:latest_news].each do |entry| %>

                      <div class="content">
                        <div class="item">
                          <div class="title">
                            <a href="/news/<%= entry['id'] %>">
                            <%= entry['title'] %>
                            </a>
                          </div>
                          <div class="created">created on <%= render_epoch_time entry['created'] %></div>
                          <div class="abstract"><%=  entry['abstract'] %></div>
                        </div>
                      </div>

                      <% end %>

                    <% end %>

                  </div>

                  <div class="preview-box">
                    <div class="title">
                      Recent <a href="/blog">Blog</a>
                    </div>
                    <div class="content">
                      <% if @data[:latest_blog_entries].length == 0 %>
                        no blog yet
                      <% else %>
                        <% @data[:latest_blog_entries].each do |entry| %>
                          <div class="item">
                            <div class="title">
                              <a href="/blog/<%= entry['id'] %>">
                              <%= entry['title'] %>
                              </a>
                            </div>
                            <div class="created">created on <%= render_epoch_time entry['created'] %></div>
                            <div class="abstract"><%= entry['abstract'] %></div>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>

                </td>
              </tr>
            </table>
          </td>

          <% if is_authenticated? %>
            <td class="side-bar">
              <%= include_partial "side-bar-navigation" %>
            </td>
          <% end %>
        </tr>
      </table>
    </div>
    <%= include_partial "footer" %>
  </body>
</html>