<!DOCTYPE html>
<html lang="en">
  <head>
    <%= include_partial "head" %>
  </head>
  <body class="http-only-site">
    <%= include_partial "header" %>
    <div class="body">
      <table class="layout-table"  cellspacing="0" cellpadding="0">
        <tr>
          <td class="menu-area">
            <%= include_partial "menu-list" %>
          </td>
          <td class="content-area">

            <% if @content_item[:entries].length == 0 %>
            <div  class="alert warning">
              <p>No news isn't good news</p>
              <p>But, seriously, there are no news items on the site yet.</p>
            </div>
            <% end %>

            <% if @content_item[:entries].length > 0 %>
            <div class="article">
              <div class="article-title"><%= @content_item[:entry]['title'] %></div>
              <div class="article-created"><%= Time.at(@content_item[:entry]['created']).strftime('%Y-%m-%d at %H:%M') %></div>
              <div class="article-abstract"><%= @content_item[:entry]['abstract'] %></div>
              <div class="article-content">
                <%= format_markdown @content_item[:entry]['content'] %>
              </div>
            </div>
            <% end %>

          </td>
          <td class="side-bar">
            <%= include_partial "side-bar-navigation" %>

            <% if can_edit? %>
            <%= include_partial "edit-navigation" %>
            <% end %>

            <div class="section">
              <div class="title">More Articles</div>
              <div class="body">
                <div class="side-bar-article-list">
                  <% @content_item[:entries].each do |article| %>
                      <div class="item">
                        <div class="article-title">
                          <a class="nav-link" href="/news/<%= article['id'] %>"><%= article['title'] %></a>
                        </div>
                      
                        <div class="article-created">
                          <%= Time.at(article['created']).strftime('%Y-%m-%d') %>
                        </div>

                        <div class="article-abstract">
                          <%= article['abstract'] %>
                        </div>
                      </div>
                    <% end %>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
      
    </div>
    <%= include_partial "footer" %>
  </body>
</html>