<!DOCTYPE html>
<html lang="en">
  <head>
    <%= include_partial "head" %>
  </head>
  <body class="http-only-site">
    <%= include_partial "header" %>
    <div class="body">
      <table  class="layout-table"  cellspacing="0" cellpadding="0">
        <tr>
          <td class="menu-area">
            <%= include_partial "menu-list" %>
          </td>
          <td  class="content-area">
            <div class="main-content">
              <h1><%= @context[:content]['title'] %></h1>
              <%= include_content %>
            </div>
          </td>
          <% if @context[:is_secure] %>
            <% if !@context[:session].nil? %>
              <td class="side-bar">
                <%= include_partial "side-bar-navigation" %>
              </td>
            <% end %>
          <% end %>
        </tr>
      </table>
    </div>
    <%= include_partial "footer" %>
  </body>
</html>