<!DOCTYPE html>
<html lang="en">
  <head>
    <%= include_partial "head" %>
  </head>
  <body class="http-only-site">
    <%= include_partial "header" %>
    <div class="body">
      <table  class="layout-table" cellspacing="0">
        <tr>
          <td class="home-menu-area">
            <%= include_partial "menu-list" %>
          </td>
          <td  class="content-area">
            <h1><%= @context[:content]['title'] %></h1>
            <%= include_content %>
          </td>
          <td class="side-bar">
            <%= include_partial "side-bar-navigation" %>
          </td>
        </tr>
      </table>
    </div>
    <%= include_partial "footer" %>
  </body>
</html>