<!DOCTYPE html>
<html lang="en">
  <head lang="en">
    <%= include_partial "head" %>
  </head>
  <body>
    <%= include_partial "header" %>
    <div class="page">
      <%= include_page_content %>
      <div class="alert primary">
        <form method="post" action="/authenticate">
          <input type="hidden" name="_method" value="post">
          <input type="hidden" name="page" value="<%= @context[:params]["page"] %>">
          <input type="hidden" name="return-path" value="<%= @context[:params]['return-path']  %>">
          <table>
            <tr>
              <td>Username</td>
              <td><input name="username" type="text" required minlength="2" maxlength="25"></td>
            </tr>
            <tr>
              <td>Password</td>
              <td><input name="password" type="password" required></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <button type="submit" >
                  Sign in
                </button>
                <a href="<%= @context[:params]['return-path']  %>">
                  Cancel
                </a>

              </td>
            </tr>
          </table>
        </form>
      </div>
      <% if @context[:params]['return-path'].length > 0 %>
        <div class="alert warning margin-top">
          After signing in, your browser will be returned to <b><%= @context[:params]['return-path'] %></b>.
        </div>
      <% end %>
    </div>
    <%= include_partial "footer" %>
  </body>
</html>