<!DOCTYPE html>
<html lang="en">
  <head>
    <%= include_partial "head" %>
  </head>
  <body class="http-only-site">
    <%= include_partial "header" %>
    <div class="body">
      <table  class="layout-table"  cellspacing="0" cellpadding="0">
        <tr>
          <td class="menu-area">
            <%= include_partial "menu-list" %>
          </td>
          <td class="content-area">
            <div class="page">

              <% if @context[:sites].length == 0 %>
              <div class="alert warning">
                <p>No news isn't good news</p>
                <p>But, seriously, there are no news items on the site yet.</p>
              </div>
              <% else %>
                <form action="/sites" method="get">
                <div class="site-list-header">
                  <table class="layout-table">
                    <tr>
                      <td>
                        Sort 
                        <select name="sort_field">
                          <option value="title" <% if @context[:params]['sort_field'] == 'title' %>selected<% end %>>Name</option>
                          <option value="url" <% if @context[:params]['sort_field'] == 'url' %>selected<% end %>>URL</option>
                          <option value="added" <% if @context[:params]['sort_field'] == 'added' %>selected<% end %>>Date Added</option>
                        </select>
                         <select name="sort_direction">
                          <option value="ascending" <% if @context[:params]['sort_direction'] == 'ascending' %>selected<% end %>>ascending</option>
                          <option value="descending" <% if @context[:params]['sort_direction'] == 'descending' %>selected<% end %>>descending</option>
                        </select>
                        <span style="margin-left: 16px; white-space: nowrap;">
                          Search: <input name="search" type="search" value="<%= @context[:params]['search'] %>" style="width: 200px;">
                        </span>
                      </td>
                      <td>
                        <i><%= @context[:sites].length %> site<% if @context[:sites].length != 1 %>s<%end%></i>
                      </td>
                      <td style="text-align: right;">
                        <button type="submit" >Apply</button>
                      </td>
                    </tr>
                  </table>
                  </form>
                </div>

                <% @context[:sites].each do |site| %>
                  <div class="site-list-item">

                    <div class="site-title">
                      <a href="/news/<%= site['id'] %>"><%= site['title'] %></a>
                    </div>

                    <div class="site-url">
                      <a href="<%= site['url'] %>" target="_blank"><%= site['url'] %></a>
                    </div>
                  
                    <div class="site-added">
                      <%= Time.at(site['added']).strftime('%Y-%m-%d at %H:%M') %>
                    </div>

                    <div class="site-description">
                      <%= site['description'] %>
                    </div>

                  </div>

                <% end %>
              <% end %>

            </div>

          </td>
            <% if @context[:is_secure] %>
            <% if @context[:session].nil? %>
              <td class="side-bar">
                <%= include_partial "side-bar-navigation" %>
              </td>
            <% end %>
          <% end %>
          
        </tr>
      </table>
      
    </div>
    <%= include_partial "footer" %>
  </body>
</html>